@font-face {
    font-family: 'old-london';
    src: url(./OldLondonAlternate.ttf);
}

.nav-items:hover{
background-color: #00000052;
}

html, body {
  margin: 0;
  background-image: url(./index-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 1em;
}

* {
  font-family: 'old-london';
  box-sizing: border-box;
}

.top-nav {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #e7dfc1;
  height: 5rem;
  min-width: max-content;
  box-shadow: 0.1vw 0.3vw 0.5vw -0.15vw;
  color: #000000;
  font-size: 3.5em;
  background-image: url("index-nav-background.jpg");
}

.li-margin{
    margin: -4px;
}

.nav-items{
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow:  inset 7px -2px 11px 5px rgba(0, 0, 0, 0.751);
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
    overflow: hidden;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    box-shadow: -6rem -5rem 9rem -1.5rem;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  inline-size: -webkit-fill-available;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
  
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 769px) {

    .nav-items{
        box-shadow: none;
    }
    .home-header{
        font-size: 1em;
    }
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 5rem;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    box-shadow: none;
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    box-shadow:  inset 7px -2px 11px 5px rgba(0, 0, 0, 0.751);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-image: url("./index-nav-background.jpg");
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }

}

.logo-img{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: inherit;
}

.logo{
    padding-left: 7rem;
    padding-right: 7rem;
    position: relative;
    display: inline-block;
    overflow: hidden;
    height: 5rem;
    margin-top: 0.8rem;
    box-shadow: 7px -2px 11px 5px rgba(0, 0, 0, 0.751);
}

.logo:hover{
background-color: #00000052;
}

.home-img{
    height: 30vw;
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
    border-radius: 2vw;
}

.p-imgtxt{
 text-align: center;
 font-size: 1.6em;
 margin-left: 3.5rem;
 margin-right: 3.5rem;
 color: rgba(53, 23, 0, 0.849);
 margin-top: 0.5rem;
 margin-bottom: 2rem;

}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 0.1rem rgb(57, 19, 1);
}

.home-header{
    font-size: 5em;
    text-align: center;
    color: rgb(57 40 27 / 85%);
    margin-top: 3rem;
    margin-bottom: 1rem;
}

