@font-face {
    font-family: 'old-london';
    src: url(./OldLondonAlternate.ttf);
}

.root {
    background-color: white;
    font-family: 'old-london';
    background-image: url(./wood-pattern.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin:0;
}

.center {
  margin: auto;
}

nav {
    background-color: grey;
    font-size: 2vw;
    position: sticky;
    top: 0;
    display: flex;
    box-shadow: 0.1vw 0.3vw 0.5vw -0.15vw;
    align-items: center;
    justify-content: flex-end;

}

.nav-items{
    padding-top: 2.6vw;
    padding-bottom: 2.6vw;
    padding-left: 5vw;
    padding-right: 5vw;
    color: white;
    text-decoration: none;
}

.nav-items:hover{
    background-color: darkgray;
}

.logo{
    padding-left: 5vw;
    padding-right: 5vw;
    background-color: white;
    margin-right: auto;
    width: 8vw;
    height: 7.5vw;
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.logo-img{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: inherit;
}

.home-header{
    margin-top: 7vw;
    font-size: 5vw;
    text-align: center;
    margin-bottom: 1vw;
}

.home-img{
    height: 35vw;
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
    border-radius: 2vw;
    box-shadow: 0.1vw 0.3vw 0.5vw -0.15vw;
}

.home-p{
    font-size: 1.5vw;
    text-align: center;
    margin-left: 6vw;
    margin-right: 6vw;
    padding-bottom: 4vw;  
}
