
.root {
    background-color: white;
    font-family: "Lucida Console", "Courier New", monospace;
    box-shadow: 0 0 15px 10px rgb(224, 224, 214);
    background-image: url(./wood-pattern.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

body{
    margin-left: 8em;
    margin-right: 8em;
    margin-top: 0;
    background-color: beige;
}

.center {
  margin: auto;
}

nav {
 background-color: grey;
 font-size: 32px;
 padding-top: 1.3em;
 padding-bottom: 1.3em;
 position: sticky;
 top: 0;
 display: flex;
 box-shadow: 0px 9px 13px -5px;
}

.right-nav {
    margin-left: auto;
}

.nav-items{
    padding-top: 1.3em;
    padding-bottom: 1.3em;
    padding-left: 2.8em;
    padding-right: 2.8em;
    color: white;
    text-decoration: none;
}

.nav-items:hover{
    background-color: darkgray;
}

.logo{
    padding-top: 1.3em;
    padding-bottom: 1.3em;
    padding-left: 4em;
    padding-right: 4em;
    background-color: white;
    position: relative;
}

.logo-img{
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    position: absolute;
    top: 0;
    bottom: 0;
    
}

.home-header{
    margin-top: 2.5em;
    font-size: 70px;
    text-align: center;
    margin-bottom: 0.3em;
}

.keppi-img{
    height: 700px;
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 15px;
    box-shadow: 2px 9px 14px -5px;
}

.home-p{
  font-size: 18px;
  text-align: center;
  margin-left: 12em;
  margin-right: 12em;
  padding-bottom: 2em;  
}
